body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.player {}
.player__video {
  height: 100vh;
  width: 100%;
}
.channel {
  position: absolute;
  bottom: 5%;             /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  width: 100%;
  display: flex;
  justify-content: center;
}
.channel--active-none {
  display: none;
}
.info-video {
 /* width: 50%; */
}

.tv-date {
  display: flex;
  margin-bottom: 1%;
}

.tv-info {
  margin-left: 9vw;       /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.tv-info__icon {
  padding-right: 20px;
}
.tv-info__name {
  color: #e4e2e2;
  padding-right: 20px;
}
.tv-about {
  color: #e4e2e2;
}
.tv-about__next {
  color: #545454;
}
.tv-about__type {
  /* color: #e4e2e2; */
}


.player-sidebar {
  display: flex;
  align-items: baseline;
}

.player-sidebar__release-time {
  white-space: nowrap;
  color: #e4e2e2;
  font-size: 12px;
}
.player-sidebar__time-line {
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 80vw;
  height: 0.8vh;
}