body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.player {
  display: flex;
  justify-content: center;
}
.player__video {
  height: 100vh;
  width: 100%;
}
.channel {
  position: absolute;
  bottom: 5%;
  width: 50%;
  display: flex;
  flex-direction: row;
}
.channel--active {
  display: block;
}
.channel__next-tv-movie {
  color: #e4e2e2;
  justify-content: end;
}
.tv-movie {
  display: flex;
  justify-content: start;
}
.tv-movie__icon {
}
.tv-movie__name {
  font-size: 20px;
  color: #e4e2e2;
}
.tv-movie__type {
  font-size: 16px;
  color: #e4e2e2;
}
.player-sidebar{
 display: flex;
 justify-content: space-between;
}
.player-sidebar__release-time {
  color: #e4e2e2;
  font-size: 12px;
}
.player-sidebar__time-line {
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 90vh;
  height: 0.8vh;
}